.App {
  text-align: center;
}







/* global.css or App.css */
html, body, #root {
  height: 100%;
  margin: 0;
}

.app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* header/footer will take their natural height */
.app-main {
  flex: 1;             /* take remaining vertical space */
  overflow: auto;      /* allow scrolling when content is taller */
}
